body {
    background-image: url(../Bootstrap-Portfolio/Images/floor-tile.png);
}

footer {
    border-top: 3px solid #4aaaa5;
}

header {
    font-size: 30px;
    background-color: #4aaaa5;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    color: #4aaaa5;

}

.PortfolioCards {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-columns:  1fr 2fr;
    grid-auto-rows: 350px;
    row-gap: 1em;

}